@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/**
  * ===========================================
  * Custom styles =============================
  * ===========================================
  */
@layer components {
  .th {
    @apply rounded-md bg-transparent py-1 font-normal;
  }
  .td {
    @apply rounded-md px-2 py-1 text-center transition-all aria-selected:bg-white aria-selected:bg-opacity-70;
  }
  .fieldset {
    /* @apply relative w-full animate-scaleTo1 rounded-lg border-4 border-white p-2 shadow-md; */
    @apply relative w-full animate-scaleTo1 rounded-lg bg-[#f0f0f0];
  }
  .legend {
    @apply rounded-md px-2 py-1 text-center text-lg;
  }
  .field {
    @apply relative mb-3 last-of-type:mb-0;
  }
  .label {
    @apply mb-1 block pl-2;
  }
  .btn {
    @apply inline-block cursor-pointer rounded-md bg-white px-3 py-2 text-center shadow-md transition-all duration-300;
    @apply active:scale-75 disabled:active:scale-100;
    @apply disabled:cursor-auto disabled:opacity-40;
  }

  /**
    * Custom Table Styles =============================
    */
  .table {
    @apply w-full min-w-max text-sm sm:text-center;
  }
  .table thead {
    @apply max-sm:hidden;
  }
  .table thead tr {
    @apply border-b-[1px] last-of-type:border-b-0;
  }
  .table thead tr th {
    @apply border-r-[1px] px-3 py-2 font-normal last-of-type:border-r-0;
  }
  .table tbody tr {
    @apply relative cursor-pointer flex-col rounded-md px-4 py-3 even:bg-white even:bg-opacity-40 max-sm:flex;
  }
  .table tbody tr td {
    @apply py-2 first-of-type:rounded-l-md last-of-type:rounded-r-md max-sm:flex max-sm:py-1;
  }
  .table tbody tr td label {
    @apply w-24 sm:hidden;
  }
  .table tbody tr td span {
    @apply max-sm:flex-1;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

.tr_selected[aria-selected="true"] > td {
  @apply bg-white bg-opacity-40;
}
